# Firebase Configuration for Virtual Labs
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAYS8N8C25-VWYUfCDh1OrUq__DxgVBgXk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=virtual-lab-e7495.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=virtual-lab-e7495
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=virtual-lab-e7495.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=341602998056
NEXT_PUBLIC_FIREBASE_APP_ID=1:341602998056:web:3e78ace74d2fd34680e21d

# Spring Boot REST API Endpoint
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
